.list{
    word-break: break-all;
    width: 70vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0.8rem;
    border-radius: 0.2rem;
    background-color: rgb(245, 223, 183);
}

.button{
    background-color: orange;
    width: 50%;
    border-radius: 2rem;
    border: none;
    width: 8rem;
    height: 2rem;
}