.app{
  background-color: orange;
  padding: 0.5rem;
  border-radius: 0.3rem;
  column-gap: 2rem;
  display: flex;
  align-items:center;
  justify-content:center;
}

@media (max-width:450px){
  .app{
    visibility: hidden;
  }
}